<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layouts/partials/_head:: head">
    <title>:: Lucid University :: Home</title>
</head>
<body class="theme-blue">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="https://www.wrraptheme.com/templates/lucid/university/html/assets/images/logo-icon.svg" width="48" height="48" alt="Lucid"></div>
        <p>Please wait...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <!-- Navbar -->
    <div th:replace="/layouts/partials/_header:: header"></div>

    <!-- Main Sidebar -->
    <div th:insert="/layouts/partials/_sidebar:: mainSidebar"></div>

    <div th:include="/layouts/partials/_templateBody :: templateBody"></div>




</div>

<div th:include="/layouts/partials/_footerScripts :: footerScripts"></div>
</body>

</html>
