<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footerScripts">
        <!-- Javascript -->
        <script th:src="@{/bundles/libscripts.bundle.js}"></script>
        <script th:src="@{/bundles/vendorscripts.bundle.js}"></script>
        <script th:src="@{/vendor/dropify/js/dropify.min.js}"></script>
        <script th:src="@{/js/pages/forms/dropify.js}"></script>

        <script th:src="@{/bundles/chartist.bundle.js}"></script>
        <script th:src="@{/bundles/jvectormap.bundle.js}"></script> <!-- JVectorMap Plugin Js -->

        <script th:src="@{/bundles/mainscripts.bundle.js}"></script>
        <script th:src="@{/js/index.js}"></script>
        <script th:src="@{/js/custom.js}"></script>

        <!--Summer note-->
        <script th:src="@{/vendor/summernote/dist/summernote.js}"></script>

        <!--Sweet alert-->
        <script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>


        </div>
</html>